@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
}
.nav-item a:hover {
    color: rgb(20, 219, 20);
}
.nav-brand {
    height: 50px;
    width: 100px;
}
.search {
    height: 45px;
    outline: none;
    border: 2px solid rgb(20, 219, 20);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}
.btn1 {
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(20, 219, 20);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}
.btn1:hover {
    background-color: rgb(13, 172, 13);
}
.navbar-toggler {
    font-size: 25px;
    color: white;
}    
.navbar-toggler:focus {
    outline: none;
    box-sizing: none;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    color: var(--body);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--white);
    font-family: 'Sora', sans-serif;
}
a {
    color: var(--dark);
    text-decoration: none;
    transition: all 0.4s ease;

}
a:hover {
    color: var(--brand);
}
a.active {
    text-shadow: #060f03;  
}
  
img {
    width: 100%;
}
.fa-house {
    font-size: 1.2em;
}
section {
    padding-top: 100px;
    padding-bottom: 30px;
}

/* hero */
#hero {
    min-height: 100vh;
    text-align: center;
    background-attachment: fixed;
    
}
#hero h1 {
    font-weight: 700;
}

#hero p {
    max-width: 500px;
    margin: 12px auto 28px auto;
}
#hero .input-group {
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--border-radius);
}
#hero .input-group input {
    border: none;
    background-color: transparent;
    color: white;
}
#hero .input-group input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#hero .input-group input:focus {
    box-shadow: none;
}
.btn {
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(20, 219, 20);
    color: white;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.4s ease;
}
.call-us-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}
.call-us-button:hover {
    background-color: #72b2ee;
    color: black;
    transition: 0.4s ease-out;
    cursor: pointer;
}
.wrapper1 {
    background-image: url(images/hands.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.wrapper2 {
    background-image: url(images/health-for-all.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper3 {
    background-image: url(images/emergency.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}    
.wrapper4 {
    background-image: url(images/hospital-ward.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
/*.card-body:hover {
    background-color: rgb(13, 172, 13);
    transition: all 0.4s ease;
    transform: rotate3d();
}*/
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(150, 208, 235);
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.4s ease;
  }
  
.card-body:hover {
    background-color: rgb(103, 180, 224);
    color: white;
    cursor: pointer;
  }
.card-text {
    background-color: aquamarine;
    border-radius: 10px;
}
.centered-list {
    display: flex;
    justify-content: center;
    margin-inline-end: 33px;
    
    /*display: inline-block;
    margin-right: 6px; /* Optional: add spacing between icons */
}
.centered-list ul {
    list-style: none;
    display: flex;
}
.centered-list li {
    margin: 0 6px;
}
  
.breadcrumb-item {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
}
.rounded-circle {
    width: 460px;
    height: 400px;
    opacity: 0.7;
}



/*
.main {
    background: url(img/hospital-ward.png)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}*/